.layout-form-add-edit {
  padding: 25px;
  // font-family: 'Noto Sans Thai', sans-serif !important;
  .form-add-edit-title {
    font-weight: 700;
  }
  .form-add-edit-hr {
    border: 1px solid rgb(var(--v-theme-lightprimary));
    margin: 22px 0 20px 0;
  }
  .form-add-edit-slot {
    max-height: calc(100% - 112px);
    overflow-y: auto;
    padding: 3px 0;
  }
  .form-add-edit-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
