.card-alert {
  padding: 40px 20px 35px 20px;
  .alert-icon {
    display: flex;
    justify-content: center;
  }
  .alert-title {
    text-align: center;
    font-size: 24px;
    font-weight: 450;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .alert-description {
    font-size: 18px;
    text-align: center;
  }
  .alert-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
