.profileBtn {
  height: 50px !important;
  margin: 0 20px 0 10px !important;
}

.search-sheet {
  position: absolute;
  z-index: 9;
}

.circle {
  position: relative;
  overflow: hidden;
  &.sm-circle {
    &::before {
      content: '';
      position: absolute;
      width: 200px;
      height: 200px;
      border: 3px solid rgb(var(--v-theme-warning));
      border-radius: 50%;
      top: 125px;
      right: -70px;
    }
  }

  &.lg-circle {
    &::after {
      content: '';
      position: absolute;
      width: 200px;
      height: 200px;
      border: 19px solid rgb(var(--v-theme-warning));
      border-radius: 50%;
      top: 65px;
      right: -150px;
    }
  }
}

.wrap-items {
  .breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 12px;
    width: calc(100% - 350px);
    .sub-level {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .btn-toolbar {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 580px) {
  .v-toolbar__content {
    flex-wrap: wrap;
  }
  .breadcrumbs {
    width: 100% !important;
    order: 3;
    padding: 10px 12px;
  }
  .btn-menu-nav,.btn-toolbar{
    padding-top: 15px;
  }
}
