@import './variables';
@import 'vuetify/styles/main.sass';
@import './override';
@import './layout/container';
@import './layout/sidebar';
@import './layout/topbar';
@import './layout/horizontal';
@import './layout//contentMai';

@import './components/VAlert';
@import './components/VButtons';
@import './components/VCard';
@import './components/VField';
@import './components/VInput';
@import './components/VNavigationDrawer';
@import './components/VShadow';
@import './components/VTextField';
@import './components/VTextarea';
// @import './components/VTabs';
@import './components/MaAlert';
@import './components/MaTable';
@import './components/MaPagination';
@import './components/FormAddEdit';
@import './components/VSelect';
@import './components/VAutocomplete';
@import './components/AntNotification';


@import './pages/datatable';
@import './pages/dashboards';
@import './pages/editor';


@import 'vue3-perfect-scrollbar/style.css';

.DarkMaTheme 
.v-theme--DarkMaTheme {
  @import './layout/dark';
}
